SCOPUS_API_KEY='chave api scopus'
DATABASE_URI='URI DO DATABASE DE INTERESSE'

AF_ID="60030074"              # ID REFERENTE A UFMG (mude caso queira extrair de outra universidade)         
SCOPUS_PAGE_SIZE=25           # limite Scopus
MAX_PER_QUERY=5000            # limite real da Search API
START_YEAR=2025              # ajuste se quiser
END_YEAR=2025                 # ajuste se quiser
SLEEP_SCOPUS=0.2
SLEEP_OPENALEX=0.1
